/* * Common Section */

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateY(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateY(0);
  }
}

html {
  animation: transitionIn 1s;
}

/* * Navbar Section */

#navtitle {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 300;
  margin-left: 30px;
}

/*  ********************* resume work */

#wholewindow {
  margin-top: 100px;
  border: 2px black solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* align-items: center; */
}

#leftwindow {
  margin-top: 80px;
  min-width: 250px;
}

#rightwindow {
  margin-top: 20px;
  min-width: 250px;
}

#namebox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  font-family: "Montserrat";
}

#profileimg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px #003049 solid;
  margin-top: 10px;
}
#summary {
  font-family: "Akaya Kanadaka";
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: 1px black solid;
  border-top: 1px black solid;
}

.card-subtitle {
  color: red;
}

#itskillsitem,
#managementskillsitem {
  border-bottom: 1px black solid;
  margin-top: 3px;
  margin-bottom: 3px;
}

#que {
  font-family: "Nunito";
  font-weight: 900;
  text-align: left;
}

#ans {
  font-family: "Ubuntu";
  font-weight: 400;
  text-align: left;
}

li img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

#contactitem {
  font-family: "Nunito";
}

#contactitem div a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

#contactitem div a:hover {
  color: dodgerblue;
  text-decoration: underline;
}

#educationtitle {
  font-family: "Red Hat Display";
  font-weight: 200;
}

#educationitem,
#projectitem {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px black solid;
}

#details {
  font-family: "Ubuntu";
}

#institutename {
  text-decoration: underline;
}

#timestamp {
  font-size: 13px;
}

#stream {
  font-size: 16px;
  font-weight: 400;
}

#subjects {
  font-size: 10px;
  font-weight: 300;
}

#marks {
  font-size: 15px;
  font-weight: 700;
}

#projecttitle {
  font-family: "Red Hat Display";
  font-weight: 400;
}

#projectdetails {
  margin-left: 25px;
}

p {
  font-family: "Poppins";
}

.card {
  background-color: black;
}

.card-title {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 20px;
  padding-bottom: 10px;
  border: none;
}

/* * Common Section */

.footer {
  position: -webkit-sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-family: "Montserrat";
}
