/* * Common Section */

@keyframes transitionIn {
	from {
		opacity: 0;
		transform: rotateY(-10deg);
	}
	to {
		opacity: 1;
		transform: rotateY(0);
	}
}

html {
	animation: transitionIn 1s;
}

p {
	font-family: "Roboto Condensed", sans-serif;
	line-height: 25px;
}

ul {
	list-style: none;
}
article {
	border-bottom: 3px black solid;
}

.card-title {
	font-family: "Montserrat";
	text-decoration: underline;
	font-weight: 900;
	font-size: 20px;
}

.card-subtitle {
	color: red;
}

.footer {
	position: -webkit-sticky;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	font-family: "Montserrat";
}

/*  ********************* resume work */

#wholewindow {
	border: 5px black solid;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	/* align-items: center; */
}

#leftwindow {
	padding: 120px 20px 0px 0px;
	border-right: 2px black solid;
	min-width: 250px;
}

#rightwindow {
	padding: 20px 0px 0px 20px;
	min-width: 250px;
	background-color: white;
}

#namebox {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	font-family: "Montserrat";
}

#profileimg {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 2px #003049 solid;
	margin-top: 10px;
}
#summary {
	font-family: "Akaya Kanadaka";
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;

	border-bottom: 1px black solid;
	border-top: 1px black solid;
}

#goalbox {
	padding: 50px 15px 50px 15px;
	line-height: 50px;
}

#managementskillsitem p {
	line-height: 20px;
	text-align: center;
}

#tag {
	font-family: "Nunito";
	font-size: 23px;
	font-weight: 900;
	text-align: left;
}

#tag span {
	text-decoration: underline;
}

li img {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin-right: 5px;
}

#itskillsbox {
	margin: 70px 0px 20px 0px;
	border: none;
}
#educationbox {
	border: none;
}

#itskillsitem {
	border-bottom: 1px black solid;
	padding: 7px 0px 7px 0px;
}

#que {
	font-family: "Quicksand";
	text-decoration: underline;
	font-size: 16px;
	font-weight: 800;
	display: flex;
	align-items: center;
}

#contactitem {
	font-family: "Nunito";
}

#contactitem .col-11 {
	text-align: end;
}

#contactitem div a {
	text-decoration: none;
	color: black;
}

#contactitem div a:hover {
	text-decoration: underline;
	color: blue;
}

#contactitem .col-11 span {
	font-weight: 600;
	color: blue;
	text-decoration: underline;
}

#educationtitle {
	font-family: "Red Hat Display";
	font-weight: 200;
}

#educationitem {
	margin-bottom: 10px;
	padding: 10px 0px 10px 10px;
	border-left: 4px black solid;
}

#educationbox {
	font-family: "Noto Sans JP";
}

#educationitem h6 {
	line-height: 12px;
}

#institutename {
	text-decoration: underline;
	font-weight: 800;
	font-size: 16px;
}

#timestamp {
	font-size: 10px;
}

#stream {
	font-size: 10px;
	font-weight: 400;
}

#subjects {
	font-size: 10px;
	font-weight: 300;
}

#marks {
	/* font-size: 15px; */
	font-weight: 700;
}

#projecttitle {
	font-family: "Red Hat Display";
}

#projectdetails ul {
	list-style-type: square;
}

#projectdetails ul li:nth-of-type(4) {
	font-weight: 700;
	padding-bottom: 10px;
}

#projectdetails ul li span {
	color: blue;
	text-decoration: underline;
}

#projectdetails {
	margin-left: 50px;
}
